<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="index.css" />

    <title></title>
  </head>

  <body>
    <!-- navbar starts -->
    <nav
      class="navbar navbar-expand-md fixed-top navbar-light bg-dark text-white py-2 px-lg-5 px-1 text-center"
    >
      <a
        class="navbar-brand text-primary text-uppercase text-primary ml-md-0 ml-xl-5"
        href="#"
        >Template</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="navbar-nav">
          <li class="nav-item mr-md-3 mr-lg-4 mr-xl-5">
            <a class="nav-link" href="#">SERVICES</a>
          </li>
          <li class="nav-item mr-md-3 mr-lg-4 mr-xl-5">
            <a class="nav-link" href="#">PORTFOLIO</a>
          </li>
          <li class="nav-item mr-md-3 mr-lg-4 mr-xl-5">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item mr-md-3 mr-lg-4 mr-xl-5">
            <a class="nav-link" href="#">TEAM</a>
          </li>
          <li class="nav-item mr-md-3 mx-lg-4 mr-xl-5">
            <a class="nav-link" href="#">CONTACT US</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end of navbar -->

    <!-- banner started -->
    <section id="banner" class="d-flex align-items-center">
      <div class="overlay"></div>
      <div id="header" class="container text-center">
        <h3 class="text-capitalize text-light display-4">
          Welcome to our studio
        </h3>
        <h4 class="text-uppercase text-light display-1 d-none d-lg-block">
          it's nice to meet you
        </h4>
        <button class="btn btn-primary text-light py-2 mt-3">SUBSCRIBE</button>
      </div>
    </section>
    <!-- end of banner -->

    <!-- section of services -->
    <section class="container mt-5 mb-5 text-center">
      <h1>SERVICES</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, itaque!
      </p>
      <div class="row">
        <div class="col-md-4">
          <!-- img -->
          <h3>E-Commerce</h3>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus quo non magni.
          </p>
        </div>

        <div class="col-md-4">
          <h3>Responsive Design</h3>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus quo non magni.
          </p>
        </div>

        <div class="col-md-4">
          <!-- img -->
          <h3>Web Security</h3>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus quo non magni.
          </p>
        </div>
      </div>
    </section>
    <!-- end of section services -->

    <section class="container-fluid text-center portfolio p-5 mt-5 mb-5">
      <h2>PORTFOLIO</h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur.</p>
      <div class="row d-flex flex-row justify-content-center">
        <div class="col-md-3">
          <div class="card">
            <img
              src="../dist/card/1.jpg"
              alt=""
              class="card-img-top img-fluid"
            />
            <div class="card-body">
              <h3>Threds</h3>
              <p class="lead">Illustration</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img
              src="../dist/card/1.jpg"
              alt=""
              class="card-img-top img-fluid"
            />
            <div class="card-body">
              <h3>Threds</h3>
              <p class="lead">Illustration</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img
              src="../dist/card/1.jpg"
              alt=""
              class="card-img-top img-fluid"
            />
            <div class="card-body">
              <h3>Threds</h3>
              <p class="lead">Illustration</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex flex-row justify-content-center mt-5">
        <div class="col-md-3">
          <div class="card">
            <img
              src="../dist/card/1.jpg"
              alt=""
              class="card-img-top img-fluid"
            />
            <div class="card-body">
              <h3>Threds</h3>
              <p class="lead">Illustration</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img
              src="../dist/card/1.jpg"
              alt=""
              class="card-img-top img-fluid"
            />
            <div class="card-body">
              <h3>Threds</h3>
              <p class="lead">Illustration</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img
              src="../dist/card/1.jpg"
              alt=""
              class="card-img-top img-fluid"
            />
            <div class="card-body">
              <h3>Threds</h3>
              <p class="lead">Illustration</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- about team -->
    <section class="container-fluid text-center mt-5">
      <h3>OUR AMAZING TEAM</h3>
      <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime,
        libero!
      </p>
      <div class="row d-flex justify-content-center">
        <div class="col-md-3 mt-2 mt-md-4 mr-3 col-8">
          <div class="card p-5 border-0">
            <img
              src="../dist/banner.jpg"
              class="img-fluid card-img-top rounded-circle"
              alt=""
            />

            <div class="card-body">
              <h3>Kay Garland</h3>
              <p class="lead">Lead Designer</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 mt-2 mt-md-4 mr-3 col-8">
          <div class="card p-5 border-0">
            <img
              src="../dist/banner.jpg"
              class="img-fluid card-img-top rounded-circle"
              alt=""
            />

            <div class="card-body">
              <h3>Kay Garland</h3>
              <p class="lead">Lead Designer</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 mt-2 mt-md-4 mr-3 col-8">
          <div class="card p-5 border-0">
            <img
              src="../dist/banner.jpg"
              class="img-fluid card-img-top rounded-circle"
              alt=""
            />
            <div class="card-body">
              <h3>Kay Garland</h3>
              <p class="lead">Lead Designer</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end about team -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
